on:
  workflow_dispatch:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  release:
    types:
      - released
  schedule:
    - cron: "0 0 * * *"
    
jobs:
  build-aria2c_windows:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v6
      - name: Modify files
        shell: pwsh
        run: |
          $filePath1 = "$env:GITHUB_WORKSPACE\src\parser\OptionHandlerFactory.cc"
          $filePath2 = "$env:GITHUB_WORKSPACE\xmake.lua"
          (Get-Content -Path $filePath1) -replace '"1", 1, 16, ''x''', '"1", 1, 1024, ''x''' | Set-Content -Path $filePath1
          (Get-Content -Path $filePath1) -replace 'PREF_PIECE_LENGTH, TEXT_PIECE_LENGTH, "1M", 1_m, 1_g', 'PREF_PIECE_LENGTH, TEXT_PIECE_LENGTH, "1K", 1_k, 1_g' | Set-Content -Path $filePath1
          (Get-Content -Path $filePath2) -replace 'local PROJECT_VERSION = os.getenv\("VERSION"\) or "1.37.0-development"', 'local PROJECT_VERSION = "1.37.0"' | Set-Content -Path $filePath2
      - name: xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest
      - name: build x64
        run: |
          xmake f -a x64 -c -y && xmake b
          Get-ChildItem -Recurse -Path build -Filter aria2c.exe | ForEach-Object {
             $newPath = Join-Path $_.DirectoryName "aria2c0.exe"
             Move-Item -Path $_.FullName -Destination $newPath -Force
             Write-Output "Renamed $($_.FullName) to $newPath"
          }
      - uses: actions/upload-artifact@v6
        with:
          name: aria2c-windows-${{ github.run_id }}
          path: |
            build\**\aria2c0.exe
            if-no-files-found: error
            retention-days: 1

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          tag: aria2c-1.37.0
          allowUpdates: true
          artifacts:  build\**\aria2c0.exe
          token: ${{ secrets.GITHUB_TOKEN }}
